{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Elements</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Travello template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/elements.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/elements_responsive.css' %}">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start">
						<div class="header_content_inner d-flex flex-row align-items-end justify-content-start">
							<div class="logo"><a href="index.html">Travello</a></div>
							<nav class="main_nav">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li class="active"><a href="index.html">Home</a></li>
									<li><a href="about.html">About us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="news.html">News</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</nav>
							<div class="header_phone ml-auto">Call us: 00-56 445 678 33</div>

							<!-- Hamburger -->

							<div class="hamburger ml-auto">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header_social d-flex flex-row align-items-center justify-content-start">
			<ul class="d-flex flex-row align-items-start justify-content-start">
				<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu">
		<div class="menu_header d-flex flex-row align-items-center justify-content-start">
			<div class="menu_logo"><a href="index.html">Travello</a></div>
			<div class="menu_close_container ml-auto"><div class="menu_close"><div></div><div></div></div></div>
		</div>
		<div class="menu_content">
			<ul>
				<li><a href="inex.html">Home</a></li>
				<li><a href="about.html">About us</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="news.html">News</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		<div class="menu_social">
			<div class="menu_phone ml-auto">Call us: 00-56 445 678 33</div>
			<ul class="d-flex flex-row align-items-start justify-content-start">
				<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>
	
	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url(images/elements.jpg)"></div>
	</div>

	<!-- Search -->

	<div class="home_search">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_search_container">
						<div class="home_search_title">Search for your trip</div>
						<div class="home_search_content">
							<form action="#" class="home_search_form" id="home_search_form">
								<div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
									<input type="text" class="search_input search_input_1" placeholder="City" required="required">
									<input type="text" class="search_input search_input_2" placeholder="Departure" required="required">
									<input type="text" class="search_input search_input_3" placeholder="Arrival" required="required">
									<input type="text" class="search_input search_input_4" placeholder="Budget" required="required">
									<button class="home_search_button">search</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Elements -->

	<div class="elements">
		<div class="container">
			<div class="row">
				<div class="col">
					
					<!-- Buttons -->

					<div class="buttons">
						<div class="elements_title">Buttons</div>
						<div class="buttons_container d-flex flex-row align-items-start justify-content-start">
							<div class="button"><a href="#">send</a></div>
							<div class="button button_2"><a href="#">send</a></div>
							<div class="button button_3"><a href="#">send</a></div>
						</div>
					</div>

					<!-- Accordions & Tabs -->

					<div class="elements_accordions_tabs">
						<div class="elements_title">Accordions & Tabs</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="elements_accordions">
									<div class="accordions">

										<div class="accordion_container">
											<div class="accordion d-flex flex-row align-items-center"><div>Donec ut feugiat lacus. Vivamus posuere metus vitae volutpat.</div></div>
											<div class="accordion_panel">
												<div>
													<p>Odio vestibulum est mattis.Donec ut feugiat lacus. Vivamus posuere metus vitae volutpat vulputate. Nunc imperdiet velit nisl, non volutpat lectus. Donec ut feugiat lacus. Vivamus posuere metus vitae volutpat vulputate. Nunc imperdiet velit nisl, non volutpat lectus.</p>
												</div>
											</div>
										</div>

										<div class="accordion_container">
											<div class="accordion d-flex flex-row align-items-center"><div>Nunc imperdiet velit nisl, non volutpat lectus </div></div>
											<div class="accordion_panel">
												<div>
													<p>Odio vestibulum est mattis.Donec ut feugiat lacus. Vivamus posuere metus vitae volutpat vulputate. Nunc imperdiet velit nisl, non volutpat lectus. Donec ut feugiat lacus. Vivamus posuere metus vitae volutpat vulputate. Nunc imperdiet velit nisl, non volutpat lectus.</p>
												</div>
											</div>
										</div>

										<div class="accordion_container">
											<div class="accordion d-flex flex-row align-items-center active"><div>Donec ut feugiat lacus. Vivamus posuere metus vitae volutpat.</div></div>
											<div class="accordion_panel">
												<div>
													<p>Odio vestibulum est mattis.Donec ut feugiat lacus. Vivamus posuere metus vitae volutpat vulputate. Nunc imperdiet velit nisl, non volutpat lectus. Donec ut feugiat lacus. Vivamus posuere metus vitae volutpat vulputate. Nunc imperdiet velit nisl, non volutpat lectus.</p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="tabs">
									<div class="tabs_container">
										<div class="tabs d-flex flex-row align-items-center justify-content-start flex-wrap">
											<div class="tab">Donec ut feugiat lacus</div>
											<div class="tab">Volutpat lectus</div>
											<div class="tab active">Vivamus posuere</div>
										</div>
										<div class="tab_panels">
											<div class="tab_panel">
												<div class="tab_panel_content">
													<div class="tab_text">
														<p>Odio vestibulum est mattis.Donec ut feugiat lacus. Vivamus posuere metus vitae volutpat vulputate. Nunc imperdiet velit nisl, non volutpat lectus. Donec ut feugiat lacus. Vivamus posuere metus vitae volutpat vulputate. Nunc imperdiet velit nisl, non volutpat lectus.</p>
													</div>
												</div>
											</div>
											<div class="tab_panel">
												<div class="tab_panel_content">
													<div class="tab_text">
														<p>Odio vestibulum est mattis.Donec ut feugiat lacus. Vivamus posuere metus vitae volutpat vulputate. Nunc imperdiet velit nisl, non volutpat lectus. Donec ut feugiat lacus. Vivamus posuere metus vitae volutpat vulputate. Nunc imperdiet velit nisl, non volutpat lectus.</p>
													</div>
												</div>
											</div>
											<div class="tab_panel active">
												<div class="tab_panel_content">
													<div class="tab_text">
														<p>Odio vestibulum est mattis.Donec ut feugiat lacus. Vivamus posuere metus vitae volutpat vulputate. Nunc imperdiet velit nisl, non volutpat lectus. Donec ut feugiat lacus. Vivamus posuere metus vitae volutpat vulputate. Nunc imperdiet velit nisl, non volutpat lectus.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Loaders -->

					<div class="loaders">
						<div class="elements_title">Loaders</div>

						<!-- Loaders -->
						<div class="row loaders_container">
							<div class="col-lg-3 loader_col">
								<!-- Loader -->
								<div class="loader" data-perc="0.75">
									<div class="loader_content">
										<div class="loader_title">photos taken</div>
										<div class="loader_subtitle">Etiam nec odio vestibulum est.</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 loader_col">
								<!-- Loader -->
								<div class="loader" data-perc="0.83">
									<div class="loader_content">
										<div class="loader_title">km walked</div>
										<div class="loader_subtitle">Odio vestibulum est mattis.</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 loader_col">
								<!-- Loader -->
								<div class="loader" data-perc="0.25">
									<div class="loader_content">
										<div class="loader_title">cities visited</div>
										<div class="loader_subtitle">Vestibulum est mattis effic.</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 loader_col">
								<!-- Loader -->
								<div class="loader" data-perc="0.95">
									<div class="loader_content">
										<div class="loader_title">cruises</div>
										<div class="loader_subtitle">Vestibulum est mattis effic.</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Milestones -->
					
					<div class="milestones">
						<div class="elements_title">Milestones</div>
						<div class="row milestones_row">

							<!-- Milestone -->
							<div class="col-lg-3 milestone_col">
								<div class="milestone text-center">
									<div class="milestone_icon"><img src="images/mountain.svg" alt=""></div>
									<div class="milestone_counter" data-end-value="17">0</div>
									<div class="milestone_text">Online Courses</div>
								</div>
							</div>

							<!-- Milestone -->
							<div class="col-lg-3 milestone_col">
								<div class="milestone text-center">
									<div class="milestone_icon"><img src="images/island.svg" alt=""></div>
									<div class="milestone_counter" data-end-value="213">0</div>
									<div class="milestone_text">Students</div>
								</div>
							</div>

							<!-- Milestone -->
							<div class="col-lg-3 milestone_col">
								<div class="milestone text-center">
									<div class="milestone_icon"><img src="images/camera.svg" alt=""></div>
									<div class="milestone_counter" data-end-value="11923">0</div>
									<div class="milestone_text">Teachers</div>
								</div>
							</div>

							<!-- Milestone -->
							<div class="col-lg-3 milestone_col">
								<div class="milestone text-center">
									<div class="milestone_icon"><img src="images/boat.svg" alt=""></div>
									<div class="milestone_counter" data-end-value="15">0</div>
									<div class="milestone_text">Countries</div>
								</div>
							</div>

						</div>
					</div>

					<!-- Icon Boxes -->

					<div class="icon_boxes">
						<div class="elements_title">Icon Boxes</div>

						<div class="row icon_boxes_row">

							<!-- Intro Item -->
							<div class="col-lg-4 intro_col">
								<div class="intro_item d-flex flex-row align-items-end justify-content-start">
									<div class="intro_icon"><img src="images/beach.svg" alt=""></div>
									<div class="intro_content">
										<div class="intro_title">Top Destinations</div>
										<div class="intro_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
									</div>
								</div>
							</div>

							<!-- Intro Item -->
							<div class="col-lg-4 intro_col">
								<div class="intro_item d-flex flex-row align-items-end justify-content-start">
									<div class="intro_icon"><img src="images/wallet.svg" alt=""></div>
									<div class="intro_content">
										<div class="intro_title">The Best Prices</div>
										<div class="intro_subtitle"><p>Sollicitudin mauris lobortis in.</p></div>
									</div>
								</div>
							</div>

							<!-- Intro Item -->
							<div class="col-lg-4 intro_col">
								<div class="intro_item d-flex flex-row align-items-end justify-content-start">
									<div class="intro_icon"><img src="images/suitcase.svg" alt=""></div>
									<div class="intro_content">
										<div class="intro_title">Amazing Services</div>
										<div class="intro_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="background_image" style="background-image:url(images/footer_1.jpg)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter">
						<div class="newsletter_title_container text-center">
							<div class="newsletter_title">Subscribe to our newsletter to get the latest trends & news</div>
							<div class="newsletter_subtitle">Join our database NOW!</div>
						</div>
						<div class="newsletter_form_container">
							<form action="#" class="newsletter_form d-flex flex-md-row flex-column align-items-start justify-content-between" id="newsletter_form">
								<div class="d-flex flex-md-row flex-column align-items-start justify-content-between">
									<div><input type="text" class="newsletter_input newsletter_input_name inpt" id="newsletter_input_name" placeholder="Name" required="required"><div class="input_border"></div></div>
									<div><input type="email" class="newsletter_input newsletter_input_email inpt" id="newsletter_input_email" placeholder="Your e-mail" required="required"><div class="input_border"></div></div>
								</div>
								<div><button class="newsletter_button">subscribe</button></div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row footer_contact_row">
				<div class="col-xl-10 offset-xl-1">
					<div class="row">

						<!-- Footer Contact Item -->
						<div class="col-xl-4 footer_contact_col">
							<div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
								<div class="footer_contact_icon"><img src="images/sign.svg" alt=""></div>
								<div class="footer_contact_title">give us a call</div>
								<div class="footer_contact_list">
									<ul>
										<li>Office Landline: +44 5567 32 664 567</li>
										<li>Mobile: +44 5567 89 3322 332</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- Footer Contact Item -->
						<div class="col-xl-4 footer_contact_col">
							<div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
								<div class="footer_contact_icon"><img src="images/trekking.svg" alt=""></div>
								<div class="footer_contact_title">come & drop by</div>
								<div class="footer_contact_list">
									<ul style="max-width:190px">
										<li>4124 Barnes Street, Sanford, FL 32771</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- Footer Contact Item -->
						<div class="col-xl-4 footer_contact_col">
							<div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
								<div class="footer_contact_icon"><img src="images/around.svg" alt=""></div>
								<div class="footer_contact_title">send us a message</div>
								<div class="footer_contact_list">
									<ul>
										<li>youremail@gmail.com</li>
										<li>Office@yourbusinessname.com</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="col text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </div>
	</footer>
</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/progressbar/progressbar.min.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA' %}"></script>
<script src="{% static 'js/elements.js' %}"></script>
</body>
</html>