<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form action='login' method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username"> <br>
        <input type="password" name="password" placeholder="Password"> <br>
        <input type="submit">
    </form>
    <div>
        {% for message in messages %}
            <h1> {{message}} </h1>
        {% endfor %}
    </div>
</body>
</html>