<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registeration</title>
</head>
<body>
    <form action="register" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First Name"> <br>
        <input type="text" name="last_name" placeholder="Last Name"> <br>
        <input type="text" name="username" placeholder="User Name"> <br>
        <input type="email" name="email" placeholder="Email"> <br>
        <input type="password" name="password1" placeholder="Password"> <br>
        <input type="password" name="password2" placeholder="Comfirm Password"> <br>
        <input type="submit">
    </form>
    
    <div>
        {% for message in messages %}
            <h1> {{message}} </h1>
        {% endfor %}
    </div>
</body>
</html>